
.comptes {
  .intituleStyle {
    font-size: 19px !important;
    font-weight: 500;
  }
  .TitreComptes{
    font-size: 16px;
    color: #464242;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .ActiveButton{
      color: #5e6468;
      width: 45px;
      height: 37px;
      padding: 11px 0;
      margin-right: 5px;
      border-radius: 3px!important;
      i{
        font-size: 15px;
      }
    }
    .HeaderBtn{
      background: transparent;
      border: 0;
      color: #868c96;
      font-size: 13px;
      font-weight: 600;
      padding-left: 0;
      .headerArrow{
        font-size: 9px;
        position: relative;
        left: 9px;
        color: #35506e;
        font-weight: 600;
      }
    }

  }
  .TitreComptes:hover {
    color: var(--basicColor);
  }
  .ButtonFermer{
    background-color: var(--basicColor);
    float: right;
    color: white;
    border: 0;
    outline: 0;
  }
  //general header account
  .soldeMoyCont{
    .soldeMoy{
      color: var(--basicColor);
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
  .dateLabelCont{
    margin: 0 -15px 20px;
    .dateLabel{
      background: #fff;
      border: 1px solid #7f99b5;
      float: left;
      padding: 7px 18px;
      font-size: 13px;
      margin-right: 2px;
      color: #4d5b69;
      cursor: pointer;
      &:hover,&:focus,&:active{
        color:#fff;
        background-color:#7f99b5;
      }
    }
  }
  .searchZone{
    width: 170px;
  }
  //GRID ZONE
  .compteGrid{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 18px;
    min-height: 150px;

  }
  .stateChoice{
    margin: 20px 0;
    a{
      padding: 0;
      &:hover,&:focus,&:active{
        opacity: 1!important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      i{
        background: #f5f5f5;
        text-align: center;
        padding: 9px;
        width: 35px;
        height: 30px;
        display: inline-block;
        font-size: 14px;
        color: #7d7d7d;
        transition: 0.3s;
        border-radius: 3px;
        margin-right: 2px;
        border: 1px solid #dddddd;
        &:hover,&:focus,&:active{
          background: var(--basicColor);
          color: var(--accountHeaderBG);
        }
      }
    }
  }
  .compteGridPlusDetail{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 18px;
    min-height: 150px;
  }
  .compteCard {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 18px;
    min-height: 150px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: #575e62;
    border: 1px solid #e3e3e3;

    .form-control{
      border: 0;
      border-bottom: 1px solid;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      &:focus{
        border-bottom: 2px solid var(--basicColor);
      }
    }
    //header account list
    .headerCont{
      margin-bottom: 15px;
      background-color: var(--accountHeaderBG);
      /*	    border-top: solid 1px #e6e4e4;
                border-right: solid 1px #e6e4e4;*/
      border-left: solid 5px var(--basicColorLight);
      border-radius: 4px 4px 0 0;
      padding: 10px;
      color: var(--accountHeaderColor);
      .headerTitle{
        color: var(--accountHeaderColor);
        font-size: 17px;
        display: inline-block;
        margin-top: 8px;
        i{
          font-size: 14px;
          color: var(--accountHeaderColor);
        }
      }

    }

    //

    .identifiantInterne{
      font-size: 17px;
      letter-spacing: 2px;
    }
    .agence{
      font-size: 12px;
      color: #9f9f9f;
    }
    .agence_libelle{
      font-size: 12px;
      font-weight:600;
    }
    .lightLabel{
      font-size: 12px;
    }
    .valueLabel{
      color:#428bca;
    }


  }
  .accountMenu{
    button{
      padding: 8px 13px;
      background: var(--accountHeaderBG);
      border-radius: 0;
      border:none;
      color: var(--accountHeaderColor);
      font-size: 15px;
      span{
        display:none;
      }
    }
    i{
      color: var(--accountHeaderColor);
    }
  }
  .accountMenuAction{
    button{
      font-size: 13px;
      padding:7px 20px 5px;
      color: #928f8f;
      border:0;
      i{
        font-size: 9px;
        padding-left: 6px;
        color: #211e1e;
      }
      span{
        display: none;
      }
    }

  }
  .accountMenuFiles{
    button{
      background: transparent;
      padding: 4px 18px;
      border-radius: 3px;
      cursor: pointer;
      height: 37px;
      float: right;
      /*border-color: transparent;*/
      & + ul{
        padding-left: 2px;
        button{
          border: 1px solid #ccc;

          transition:0.5s;
          &:hover,&:active,&:focus{
            color: #fff;
          }
          i{
            font-size: 15px;
          }
        }
      }
    }
    i{
      position: relative;
      font-size: 10px;
    }
    .dropCloud{
      font-size: 22px;
      top: 3px;
      padding-right: 12px;
      color: #5e6468;
    }
    span{
      display: none;
    }
  }
  .ActiveButtonGrid{
    border: 0;
    background-color: #e1e4ea;
    padding: 9px 17px;
    border-radius: 0;
  }
  .ShowDetails{
    &:hover,&:active,&:focus{
      background-color: #aaa;
      .iconfa{
        color: #FFF;
      }
    }
  }
  .ShowDetails.active{
    background-color: #AAA;
    .iconfa{
      color: #fff;
    }
  }

  .compteCard h3 {
    font-size: 16px;
    margin: 3px 0;
  }


  .styleSoldeReelNegatif{
    color: #d23333 ;
  }
  .styleSoldeReelPositif{
    color: #428bca ;
  }
  .compteSoldeCont{
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    p {
      margin-bottom: 0;
      font-weight: 400;
    }
    .compteSolde {
      color: #949494;
      font-weight: 600;
      font-size: 25px;
      sup {
        font-size: 13px;
      }
    }
    .styleSoldeReelPositif{
      color: #2eb08d;
      padding-right: 5px;
    }
    .styleSoldeReelNegatif{
      color: #f3565d;
    }
    .debit{
      font-size: 12px;
      font-weight: 600;
    }
    .sousSolde{
      color:#46b6ae;
      padding-right: 5px;
      font-weight: 600;
      font-size: 14px;
    }
    .sousSoldeNegatif{
      color:#f3565d;
    }
  }


  .refreshBtn {
    margin-left: 20px;
  }
  .LabelColumn{
    width: 150px;
  }
  .LabelColumnAgence{
    width: 250px;
  }
  .LabelColumnLibelle{
    width: 100px;
  }
  .banner {
    background: var(--basicColor);
    color: #fff;
    padding: 10px;
    text-align: left;
    min-height: 488px;
    img{
      width: 100%;
      display: block;
      max-width: 430px;
      margin: 0 auto 13px;
    }
  }
  .banner h2{
    padding-bottom: 50px;
  }

  .banner button {
    background: #fff;
    padding: 5px;
    border-radius: 0px;
    border: none;
    width: 100%;
  }

  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
  .PanelCompte{
    border: none;
    padding:0;
    box-shadow: none;
    background-color: transparent;
    .panel-body{
      padding-top: 0px;
    }
  }

  .panel-body{
    padding-top: 0px;
  }

  .detailsPanel {
    border: none;
    padding:0;
    box-shadow: none;
  }

  .detailsPanel a{
    font-size: 1.1em;
    color: #6d6b6a;
  }
  .compteCard h4{
    font-size: 14px;
    color: #6d6b6a;
    margin: 0px 0 20px 0px;
  }
  .libelleAgence {
    color: #6d6b6a;
    font-size: 15px !important;

  }
  .fullwidth{
    width: 100%;
  }

  .loadAccCont{
    margin-bottom: 50px;
    text-align: center;
    .loadAcc{
      width: 80px;
      margin: 0 auto;
      border-bottom: 2px solid #4d5b69;
      font-size: 46px;
      margin-bottom: 10px;
      i{
        font-size: 46px;
        color:#4d5b69;
      }
      p{
        color:#4d5b69;
        text-align:center;
      }
    }
  }


  //responsive account.scss
  //phones

  @media only screen and (min-width : 320px) and (max-width : 780px) {
    .compteCard{
      .headerTitle{
        //width: 100%;
        margin-bottom: 15px;
      }
      .accountMenuAction{
        width: 84%;
        button{
          width: 100%;
        }
      }
      .compteSoldeCont{
        text-align: left;
        margin-top: 20px;
      }
    }
    .dateLabel {
      width: 32.555%;
      text-align: center;
      margin-right: 1%;
      &:last-child{
        margin-right: 0;
      }
    }
    .searchZone{
      margin-top: 20px;
      width: 65%;
      margin-right: 2%;
    }
  }



}// end of .account
.bouttonAction{
  border: 0;
  outline: 0;
  background-color: transparent;

}
.bouttonAction:hover{
  border: 0;
  outline: 0;
  background-color: transparent;
}
.tableAccount{
  th{
    font-weight: 600;
    font-size: 13px;
    color: #6e8297;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding: 10px 0 10px 8px;
    width: 300px !important;
  }
  td{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #465460;
    cursor: pointer;
  }
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }


}

/* temporary */

.adriaAccountIcon{
  margin: 5px 10px 0 5px;
  width: 30px;
  height: 30px;
  background: url(../images/Account/wallet.png);
  background-size: 26px 26px;
  background-repeat: no-repeat;
}
.adriaPdfIcon{
  width: 30px;
  height: 38px;
  background: url(../images/Account/adria-pdf-icn.png) 0px 0px no-repeat;
}
.adriaXlsIcon{
  width: 30px;
  height: 38px;
  background: url(../images/Account/adria-xls-icn.png) 0px 0px no-repeat;
}
.adriaDocIcon{
  width: 30px;
  height: 38px;
  background: url(../images/Account/adria-doc-icn.png) 0px 0px no-repeat;
}
.adriaTxtIcon{
  width: 30px;
  height: 38px;
  background: url(../images/Account/adria-txt-icn.png) 0px 0px no-repeat;
  background-size: 30px;
}

.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.btnreporting{
  border: 0;
}
.BtnLabel{
  float: right;
  width: 83px;
}

.btnsaccountmenu button{
  color: #686868;
  background: transparent;
  border: 0;
  width: 100%;
  padding: 8px;
}
.btnsaccountmenu button:hover{
  color: var(--basicColor);
}

//Tableau dans la carte

.compteCard table {
  th, td {
    font-size: 10px!important;
    padding: 8px 3px 8px 3px!important;
  }
}

.more {
  color: #5e6468;
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 8px;
  margin-top: 15px;
}

.IcoLeft, .IcoRight {
  position: absolute;
  top: 40%;
  font-size: 30px;
  text-shadow: none;
  color: #6b6b6b;
  z-index: 5;
  display: inline-block;
}

.IcoRight {  margin-left: -7px; }