.Panel{
  background: white;
  text-align: center;
  border: solid 1px #dadada;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.PanelZone{
  margin: auto;
  margin-bottom: 20px;
}


.PanelContent{
  background: rgba(255, 255, 255, 0.7);;
  padding: 5px;
  width: fit-content;
}



