
.marge{
  margin-right:15px;
  text-decoration: none;
  border-bottom:2px dotted white;
}

.margeSIMT{
  margin-right:10px;
  text-decoration: none;
  border-bottom:2px dotted white;
  font-size: 12px;
}
.SIMTFile{
  width:500px;

}
.marge:hover {
  background-color: #d6dadb;

  padding: 3px;
  font-size: 15px !important;
  border-radius:3px;
}

.comptes {
  .compteContainer {
  }
  .intituleStyle {
    font-size: 15px !important;
    font-weight: bold;
  }
  .detailsPanel {
    border: none;
    padding: 0;
    box-shadow: none;
  }
  .compteCard {
    background: #fff;
    padding: 10px 15px 15px 15px;
    min-height: 110px;
    margin: 15px -9px 0 0;
  }
  .compteCard h3 {
    font-size: 16px;
    margin-top: 10px
  }
  .compteCard p {
    color: #6d6b6a;
  }

  .compteSolde {
    color: #00a699;
    font-size: 18px !important;
  }

  .refreshBtn {
    margin: 10px;
    width: 100px;
  }

  .banner {
    background: var(--basicColor);
    color: #fff;
    padding: 10px;
    text-align: right;
    margin-top: 15px;
  }
  .banner h2 {
    padding-bottom: 50px;
  }

  .banner button {
    background: #fff;
    padding: 5px;
    border-radius: 0px;
    border: none;
  }

  .custom {
    width: 100px;
    margin: 10px;
  }

  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}

.infoSignature {
  margin-top: 20px;
}

.expandedBlock {
  margin-top: 75px;
}

.infoSignature > p {
  color: #333 !important;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.banner {
  background: var(--basicColor);
  color: #fff;
  padding: 10px;
  text-align: left;
  min-height: 488px;
  margin-top: 15px;
  img {
    width: 100%;
    display: block;
    max-width: 430px;
    margin: 0 auto 13px;
  }
}

.LabelColumnDEvise {
  width: 122px;
  text-align: center;
}

.paddingColumn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.virementTypeButtonStyle {
  border: 0;
  outline: 0;
  background-color: #edefed;
  padding: 6px 11px;
  margin: 0 2px 10px 2px;
  //background-color: #e0683b;
  //color: white;
}

.virementBenTypeButtonStyle {
  border: 0;
  outline: 0;
  background-color: #f0ad4e;
  color: white;
  margin-right: 16px;
  width: 100%;
  margin: 10px;
  padding: 6px 11px;
}

.ButtonStyle {
  border: 0;
  outline: 0;
  background-color: var(--basicColor);
  color: white;
  margin: 0 2px 10px 2px;
}

.ButtonStyle:hover {
  background-color: var(--basicColor);
  color: white;
}

.ButtonStyle:focus, .ButtonStyle:active {
  border: 0;
  outline: 0;
  background-color: #b4461c;
  color: white;
}

.imgAds {
  padding-top: 15px;
}

.datePickerFormControl {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.checkBoxFormControl {
  width: 16px;
  height: 16px;

}
.selectFormControl {
  width: 150px;

}
.griddleContainer {
  width: 1240px;
  margin: 0 30px 0 -30px;
}

.actionButtonStyle {
  margin-right: 10px;
}

actionButtonStylePDF{
  margin-left:10px;
}
.reactDatepickerInputContainer {
  display: block;
}

.customfileinput::-webkit-file-upload-button {
  visibility: hidden;
}
.customfileinput {
  width: 500px;
  position: relative;
}
.customfileinput::before {
  content: 'Ajoutez un fichier';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 10pt;
}
.customfileinput:hover::before {
  border-color: white;
  background: var(--basicColor) ;
  color: white;

}
.customfileinput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.divItemValid{
  height:50px;
  width:873px;
  /*font-size: 0.8em !important*/;
  padding: 5px 2px 5px 2px;
}
.aItemValid{
  /*display:inline;*/
  padding: 5px 2px 5px 2px;
  height:45px;
  border-bottom: 1px solid #ccc;
}
.spanItemValid{
  width: 16px;
  height: 16px;
  visibility: hidden;
}
.divItemInValid{
  height:49px;
  width:873px;
  /* font-size: 0.8em !important;*/
  padding: 5px 2px 5px 2px;
}
.aItemInValid{
  text-decoration: none;
}

.preItemInValid{
  /*display:inline;*/
  padding: 5px 2px 5px 2px;
  height:45px;
  width:100%;
  border-bottom: 1px solid #ccc;
  background: rgb(255,255,136);
  color:#333;
}
.div2ItemInvalid{
  padding: 6px;
  border-bottom: 1px solid #ccc;
}

.buttonPdf{
  background: #7f99b5
}

.fieldRow {
  margin: 21px;
}

.modalHeader {
  color: #fff;
  background: var(--basicColor);

}