.panelCarouselSelected{
	border-radius: 0px;
	height: 95px;
	margin: 5px;
	cursor: pointer;
	background: #fff7f2;
	border: 1px solid #e4e4e4;
	border-bottom: 3px solid var(--basicColor);
	text-align: center;
	overflow: hidden;
	box-shadow: 0px 1px 4px 1px #dcdcdc;
	.iconCarousel {
		color: var(--basicColor);
	}
}
.iconCarousel {
	margin-top: 12px;
	font-size: 21px !important;
	color: #828282;
}

.formrow{
	margin-top: 15px;
	margin-right: 15px;
}

.submitbtndiv {
	text-align: center;
	margin-top: -35px;
	top: 0;
	right: auto;
	padding: 0;
	background: transparent;
}

.labelInPanelCarousel {
	color: #828282;
	margin-left: 3px;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2;
	padding-top: 5%;
	font-size: 1.4rem;
	width: 130%;
}

.panelCarousel {
	border-radius: 0px;
	height: 95px;
	margin: 5px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-bottom: 3px solid #d4d4d4;
	text-align: center;
	overflow: hidden;
	&:hover {
		background: #fbfbfb;
		transform: scale(1.12);
	}
	transition: .3s all;
}



#pageHeader {
	margin-left: auto;
	margin-right: auto;
	width: 307px !important;
}

.textPM {
	background: #fff;
	border: 1px solid #d4d4d4;
	padding: 20px;
	border-radius: 0px;
	text-align: center;
	-moz-border-radius: 0px;
	box-shadow: 0px 1px 3px #efefef;
	-moz-box-shadow: 0px 1px 3px #efefef;
	-webkit-box-shadow: 0px 1px 3px #efefef;
}

.lienPDFPM{

}

.creditContainer{
	background: #fff;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-color: #ddd;
	background: rgba(252, 252, 252, 0.32);
}
.simulationContainer{
	background: #fff;
	padding: 15px;
}

.recapitulatifContainer{
	background: #fff;
}

.creditLegend{
	width: 62%;
	position: absolute !important;
	top: 18px ;
	left: 19%;
	font-size: 14px !important;
	color: var(--basicColor) !important;
	text-transform: uppercase !important;
	text-align: center;
	background: white !important;
	font-weight: bold !important;
	border: none !important;
}

.pullLeft {
	margin: 8px 0;
	color: #44515d;
}

.pullLeftShow {
	float : left;
}

.pullRight {
	color: #428bca;
	float: right !important;
	text-align : right;
	margin: 8px 0;
}
.creditPadding{
	margin-bottom : 20px;
}

.circle {
	border-radius: 5%;
	width: 62%;
	height: 100px;
	/*background : #fcfcfc;*/
	background : #FFF;
	border : 1px solid #d8d8d8;
	/* width and height can be anything, as long as they're equal */
}
.circleSelected{
	border-radius: 5%;
	width: 62%;
	height: 100px;
	background : #F2F4F4;
	border : 1px solid #d8d8d8;
}
.circleTitle{
	color: #333;
	font-size: 20px;
	margin-top:30px;
	text-align:center;
}

.pdfViewer{
	width: 100%;
	margin-top: 20px;
	min-height: 665px;
}

.rowAppMargin {
	margin-bottom: 10px;
}

.rheostat-background {
	background-color: #FFF;
}

.creditButton{
	background : #428bca;
	color : #FFF;
}

div.required label::after {
	content: " *";
	color: red;
}
.fichier{
	width: 33px;
}


.fichier i{
	color: var(--basicColor);
}
.fileTypeStyle{
	width: 145px;
}

/* SOFAC */

.title6::after{
	content: "";
	position: absolute;
	top: 24px;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--basicColor);
	z-index: 0;
}

.title6 {
	/*font-family: 'Maven Pro', sans-serif;*/
	font-weight: bold;
	font-size: 14px;
	color: var(--basicColor);
	text-transform: uppercase;
	margin-bottom: 0px;
	position: relative;
	top: -15px;
}

.title6 span {
	position: relative;
	z-index: 1;
	background: white;
	padding: 0 22px 0 0; }

/* ###  */

.smallField select {
	min-width: 100px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: var(--basicColor);
	text-align: right;
	background: rgb(255,255,255);
}

.smallField {
	padding-right: 3px !important;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	box-shadow: none !important;
}

.btnvalide{
	border-radius: var(--btnRadius);
	margin-left: 15px;
	font-size: 14px;
	font-family: var(--font-base);
	text-transform: uppercase;
	letter-spacing: 1px;
	/*width: 200px;*/
	color: #fafafa;
	padding: 8px 18px 8px 18px;
	background: var(--basicColorLight);
	opacity: 1;
	height: 42px;
	&:hover, &:active {
		background: #fafafa;
		color: var(--basicColorLight);
		border: 1px solid var(--basicColorLight);
	}

	i {
		margin-right: 8px;
	}
}

.showedPrice input {
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: none;
	color: var(--basicColor);
	outline: none;
	background: transparent;
	text-align: right;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.showedPrice span{
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
	color: var(--basicColor);
	outline: none;
	text-align: left;
	background: transparent;
	outline: none;
	font-weight: 700;
	padding: 0px;
}

.labelform {
	margin-top: 13px;
	font-size: 13px;
	color: #666;
	font-weight: 400;
	text-transform: initial;
	/*font-family: 'Maven Pro', sans-serif;*/
	line-height: 1.2;
}

.labelMontantMin{
	float: left;
	color: #ababab;
	font-size: 11px;
	font-weight: 500;
	font-style: italic;
}
.labelMontantMax{
	float: right;
	color: #ababab;
	font-size: 11px;
	font-weight: 500;
	font-style: italic;
}
showedPrice {
	margin-top: 5px;
	background: #dadada;
	border-radius: 0px !important;
	input {
		background: transparent!important;
	}
}



.showedPrice span input::-webkit-outer-spin-button,
.showedPrice span input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

form .synthese {
	border: 2.5px solid var(--basicColor) !important;
	border-radius: 15px !important;
	padding: 40px 20px 60px !important;
}

.rowBorder {
	border: 2px solid var(--basicColor) ;
	padding: 0px 5px 60px;
	margin: 28px 0px 8px !important;
}

.step2style {
	position: relative !important;
	top: 26px !important;
	background-color: #fff !important;
}

.step2style  fieldset legend {
	background-color: #fff !important;
	margin-top: -28px !important;
}

.step2style  fieldset {
	//padding-top: 58px !important;
}

.panelOfTotal {
	background-color: #FAF9F7 ;
	border-radius: 4px ;
}

.step2style  fieldset .panelOfTotal{
	background-color: #ffffff !important;
	border-radius: 4px !important;
}


.step3style {
	border: none !important;
	padding: 10px;
}

.step3style fieldset legend {
	background-color: transparent !important;
	text-align: left !important;
	left: 38px !important;
	top: 0px !important;
}

.step3style  fieldset .panelOfTotal{
	background-color: #faf9f7 !important;
	border-radius: 4px !important;
}


.legendStep4 {
	background-color: transparent !important
}

.panelStep4{
	background-color: #f8f8f8;
	position: relative;
	margin-left: 15px !important;
	border-radius: 0px;
	border: 1px solid #d6d6d6;
}

.panelStep4 fieldset {
	padding: 50px 0 0px 0px;
}

.legendStep4{
	margin-top: 8px;
	font-size: 1.5rem !important;
	text-align: left;
	left: 27px;
	width: 100%;
	span {
		color: var(--basicColor) !important;
		padding-right: 10px !important;
	}
}

.docForm {
	border-bottom: 2px solid var(--basicColor);
	padding: 25px 0 60px !important;
}

.docType{
	margin-left: 50px;
	margin-top: 12px;
	font-size: 12px;
}

.recapmargintop{
	margin-top: 105px;
}


.pageHeaderCredit h1 {
	/*color: var(--basicColor) !important;*/
	padding-bottom: 14px !important;
	/*border-bottom: 1px solid #bdbdbd;*/
}

.alert {
	background-color: var(--basicColor) !important;
	border-radius: 0px !important ;
	color: white !important;
	margin-bottom: 25px !important;
	width: 100%;
}

.hgroup h1{margin-bottom:25px; font-size:80px;}
.hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;}
.hgroup h2{font-size:60px;}
.hgroup h2 span{display:block; font-size:30px;}
.page-header {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 307px !important;

}
div#test {
	font-style: italic;
}
.feecost {
	font-style: italic;
}

.topBuffer { margin: 20px; }

.serviceType {
	padding: 15px;
	border: 2px solid #fccb01;
}

.IcoLeft, .IcoRight {
	position: absolute;
	top: 30%;
	font-size: 37px;
	text-shadow: none;
	color: #6b6b6b;
	z-index: 5;
	display: inline-block;
}

.IcoRight {  margin-left: 12px; }
.IcoLeft {  margin-left: -28px; }

@media screen and (max-width: 767px) {

	.panelStep4{
		margin: 58px 0 0 0 !important;
	}
	.btnSoumettre{

		margin:  0px;
	}
	.btnvalidDoc{
		left: 0%;
	}

	.submitbtndiv{
		margin-top: 15px;
	}
	.IcoLeft, .IcoRight {
		top: 22%!important;
	}
}