
.comptes {
  margin-bottom: 10px;
  .stateChoice{
    padding-right: 25px;
    padding-bottom: 5px;
    a{
      padding: 0;
      margin-bottom: 5px;
      &:hover,&:focus,&:active{
        opacity: 1!important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      i{
        background: var(--accountBtnBG);
        text-align: center;
        padding: 10px 9px;
        width: 35px;
        height: 35px;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
        border-radius: 50%;
        margin: 2px;
        &:hover,&:focus,&:active{
          background: var(--basicColor);
          color: var(--accountHeaderBG);
        }
      }
    }
  }

  .compteCard {

    .accDiv {
      background-color: #fff;
      background-image: var(--graphBG);
      //border: 1px solid #e3e3e3;
      padding-bottom: 2px;
      box-shadow: 0px 0px 4px #e6e6e6;
      .accDivSolde {
        padding: 30px 25px 10px;
      }
    }

    .form-control{
      border: 0;
      border-bottom: 1px solid;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      &:focus{
        border-bottom: 2px solid var(--basicColor);
      }
    }
    //header account list
    .headerCont{
      padding: 10px 10px;
      .headerTitle{
        color: #fff;
        font-size: 18px;
        display: inline-block;
        text-transform: uppercase;
        i{
          font-size: 14px;
          color: #fff;
        }
      }
    }

    .identifiantInterne {
      color: #9b9b9b;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 16px;
      margin: 10px 0;
      i {
        color: var(--basicColor);
      }
    }

    .titleID{
      font-weight: 300;
      font-size: 9px;
      color: #c4c4c4;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 22px;
    }
    .agence{
      font-size: 12px;
      font-weight: 600;
    }
    .agence_libelle{
      font-size: 12px;
      font-weight:600;
    }
    .lightLabel{
      font-size: 12px;
    }
    .valueLabel{
      color:#428bca;
    }

  }
  .accountMenu{
    margin-top: -9px;
    margin-right: -30px;
    z-index: 88;
    float: right;
    button{
      background: rgba(172, 172, 172, 0.4);
      border: none;
      border-radius: 50%;
      font-size: 13px;
      height: 26px;
      width: 26px;
      span{
        display:none;
      }
      &:hover {
        background: var(--basicColorLight);
      }
    }
    i{
      color: #fff;
    }
  }
  .accountMenuAction{
    button{
      font-size: 13px;
      padding:7px 20px 5px;
      color: #928f8f;
      border:0;
      i{
        font-size: 9px;
        padding-left: 6px;
        color: #211e1e;
      }
      span{
        display: none;
      }
    }

  }

  .compteCard h3 {
    font-size: 18px;
    margin: 0 0 12px;
  }

  .compteSolde {
    margin-bottom: 10px;
  }
  .styleSoldeReelPositif{
    color: #666;
    padding-right: 5px;
    font-size: 35px;
    font-weight: 600;
  }
  .styleSoldeReelNegatif{
    color: #666;
    padding-right: 5px;
    font-size: 35px;
    font-weight: 600;
  }
  .titleSolde {
    color: var(--basicColorLight);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    //text-align: center;
    margin-bottom: 3px;
  }

  .compteCard h4{
    font-size: 14px;
    color: #6d6b6a;
    margin: 0px 0 20px 0px;
  }
}

.btnsaccountmenu {
  margin-top: 65px !important;
}

.btnsaccountmenu button{
  color: #686868;
  background: #fff;
  border: 0;
  width: 100%;
  padding: 10px;
  &:first-child {border-bottom: 1px solid #dfdfdf;}
}
.btnsaccountmenu button:hover{
  color: var(--basicColor);
}

//Tableau dans la carte

.compteCard table, .cardBloc table {
  th, td {
    font-size: 10px!important;
    padding: 11px 3px 11px 3px!important;
  }
}

.more {
  color: #838383;
  font-size: 9px;
  padding: 15px 0;
  text-transform: uppercase;
  position: relative;
  z-index: 99;
  text-decoration: none!important;
}

.IcoLeft, .IcoRight {
  position: absolute;
  top: 40%;
  font-size: 30px;
  text-shadow: none;
  color: #6b6b6b;
  z-index: 5;
  display: inline-block;
}

.IcoRight {  margin-left: -7px; }

.MvTable {
  background: #fff;
  padding: 12px 25px;
  border-radius: 0;
  height: 490px;
  margin-bottom: 0;
  //border: 1px solid #e3e3e3 !important;
  border-top: none!important;
  table {
    background-color: transparent!important;
    tbody > tr:first-child > td {
      border-top: 1px solid transparent!important;
    }
    tbody > tr > td {
      color: #787878!important;
    }
    thead > tr > th {
      border-bottom: 2px solid #fff!important;
      color: #787878!important;
    }
    tbody > tr:hover {
      background: rgba(0, 0, 0, 0.03) !important;
    }
  }
}
.accountListPanel {
  background: #fff;
  padding: 13px;
  border-radius: 0;
  height: 70px;
  margin-bottom: 10px;
  //border: 1px solid #e3e3e3 !important;
  box-shadow: 0px 0px 4px #e6e6e6;
}

.icoDepense {
  background: url(../images/Account/out.png);
  height: 20px;
  width: 15px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}
.icoRecette {
  background: url(../images/Account/in.png);
  height: 20px;
  width: 15px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

.AccTitle {
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 300;
  color: #707070;
  padding: 10px 0;
  text-align: center;
}

.cardBloc {
  box-shadow: 0px 0px 4px #e6e6e6;
  .headerCard {
    height: 58px;
    background: #fff;
    //border: 1px solid #e3e3e3;
    border-bottom: 0;
  }
  .cardBlocTitle {
    margin: 0;
    padding: 20px 0px 20px 20px;
    font-size: 22px;
    float: left;
  }
  .MvTable {
    table > tbody > tr > td {
      color: #434343 !important;
    }
    thead > tr > th {
      border-bottom: 2px solid #fff!important;
      color: #535353 !important;
    }
    tbody > tr:hover {
      background: rgba(0, 0, 0, 0.03) !important;
    }
  }
}
@media screen and (max-width : 780px) {

      .styleSoldeReelPositif {
        font-size: 32px!important;
      }

      .compteCard {
          margin-top: 0!important;
          margin-bottom: 0!important;
          min-height: initial!important;

          .accDiv {
            height: auto!important;
            .accDivSolde {
              padding: 38px 20px 0px !important;
            }
            .blocChart {
              margin: 9px 10px!important;
            }
          }
          .compteSolde {
            font-size: 18px!important;
          }
          .identifiantInterne {
            font-size: 14px!important;
          }
      }

      .IcoLeft, .IcoRight {
        top: 22%!important;
      }

      .MvTable {
        padding: 20px !important;
        margin-bottom: 0!important;
      }

      .paddingCol {
        padding: 0!important;
      }
      .PanelCompte {
        margin-bottom: 0!important;
      }
      .cardBloc {
        margin-top: 0!important;
      }

      .accountMenu {
        top: 10px!important;
      }


      .compteIcon {
        width: 40px!important;
        height: 40px!important;
        background-size: 40px!important;
        margin: 10px 30px!important;
        float: left;
      }

      .AccTitle {
        padding: 20px 10px 0;
        text-align: left;
        float: left;
      }

  .addButton {
    margin: 7px 15px!important;
  }


  .HeaderCol {
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      display: none;
    }
  }
}

.compteIcon {
  width: 85px;
  height: 85px;
  background: url('../images/Account/wallet.png');
  background-size: 85px;
  display: block;
  margin: 20px auto;
}

.Header {
    height:100px;
    background:transparent;
    padding: 0;
    background-image: var(--widgetsBG);
    margin-bottom: var(--widgetsMargin);
    .HeaderCol {
      margin: 13px 0;

      .HeaderElement {
        height: var(--widgetElementHeight);
        background: var(--widgetElementBG);
        display: block;
        //border: 1px solid var(--widgetElementBorder);
        box-shadow: var(--widgetElementBorder);
        .plus {
          text-align: center;
          font-size: 40px;
          color: #cdcdcd;
          padding: 15px;
          margin: 0;
        }
        &:hover {
          opacity: 1!important;
          background: var(--widgetHover);
          text-decoration: none;
          .SideBorder {
            border-right: 28px solid #f4f4f4;
          }
        }

        .ProfilIcon {
          width: 80px;
          height: 100%;
          background-image: var(--iProfilWidget);
          background-size: 55px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: var(--widgetIconBG);
          float: left;
          margin-right: 15px;
          opacity: var(--widgetIconOpacity);
        }
        .CheckIcon {
          width: 80px;
          height: 100%;
          background-image: var(--iCheckWidget);
          background-size: 55px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: var(--widgetIconBG);
          float: left;
          margin-right: 15px;
          opacity: var(--widgetIconOpacity);
        }
        .HeaderIcon {
          width: 80px;
          height: 100%;
          background-image: var(--iTradeWidget);
          background-size: 55px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: var(--widgetIconBG);
          float: left;
          margin-right: 15px;
          opacity: var(--widgetIconOpacity);
        }
        .TaskIcon {
          height: 100%;
          font-size: 45px;
          color: var(--widgetIconColor);
          float: left;
          padding: 6px 15px;
          margin-right: 15px;
          text-align: center;
          background: var(--widgetIconBG);
          opacity: var(--widgetIconOpacity);
          span {
            font-size: 13px;
            background: red;
            color: #fff;
            padding: 3px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 20px;
            left: 58px;
          }
        }
        .NotifIcon {
          height: 100%;
          font-size: 45px;
          color: var(--basicColor);
          float: left;
          padding: 6px 15px;
          margin-right: 15px;
          text-align: center;
          background: #f4f4f4;
          opacity: .7;
          span {
            font-size: 13px;
            background: red;
            color: #fff;
            padding: 3px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 20px;
            left: 58px;
          }
        }
        .HeaderTxt {
          padding-top: 20px;

          h3 {
            font-size: 13px;
            text-transform: uppercase;
            color: var(--widgetText);
            margin: 5px 0;
            font-weight: var(--widgetTextWeight);
          }
          h2 {
            font-size: 17px;
            text-transform: uppercase;
            color: var(--basicColor);
            margin: 2px 0 3px;
            letter-spacing: 1px;
          }
          p {
            font-size: 10px;
            text-transform: uppercase;
            color: #7b7b7b;
          }
        }
        .SideBorder {
            height: 0;
            width: 0;
            border-right: 28px solid rgb(199, 199, 199);
            border-top: 30px solid transparent;
            float: left;
            position: absolute;
            bottom: 0;
            right: 15px;
            display: none;
        }
      }
      .removeBtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 11px;
        border: 0;
        padding: 2px 5px;
        margin: 5px;
        width: 20px;
        height: 20px;
        text-decoration: none;
        color: var(--widgetremoveBtnText);
        border-radius: 50%;
        background: var(--widgetremoveBtnBG);
      }
    }
}

.addButton {
  margin: 20px;
  background: var(--basicColor);
  padding: 2px 16px;
  border-radius: 60%;
  color: #fff;
  font-size: 33px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  position: absolute;
  right: 18px;
  &:hover {
    color: #fff;
    opacity: .8;
    text-decoration: none;
  }
}


.exBloc {
  background: #fff;
  //border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 4px #e6e6e6;
  height: 42px;
  margin: 10px 0;
  .exTitle {
    background: var(--exBlocBG);
    color: #fff;
    padding: 11px 15px;
    float: left;
    i {margin-right: 10px}
  }
  .exContent {
    position: relative;
    padding: 10px;
    width: 86%;
    li {
      padding-right: 33px;
      border-right: 1px solid gray;
      img {
        float: left;
        margin: 5px 18px;
      }
    }
  }
  .shape {
    border-bottom: 42px solid var(--exBlocBG);
    border-right: 26px solid transparent;
    width: 27px;
    height: 0;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .lgModel{
      width: 940px;
      margin: 30px auto;
  
  }
}


// - - - - MANTA Dashboard - - - - //
.accountElement {
  display: block;
  border: 1px solid #e6e6e6;
  border-top: none;
  padding: 10px;
  padding-right: 50px;
  h3 {
    font-size: 12px;
    margin: 4px 0;
    font-weight: 600;
    color: #030039;
    text-transform: uppercase;
  }
  p {
    font-size:12px;
    margin: 0;
    span {
      float: right;
      color: #00a86e;
      font-weight: 600;
    }
  }
  &:after {
    background: url(../images/Account/graph-icon.png) center / 20px no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -25px;
    right: 25px;
  }
  &:hover {
    text-decoration: none;
    background: #eaeaea;
  }
}

#mantaDash {
  .accDiv {
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 2px #e6e6e6;
  }
  .accDivSolde {
    padding: 30px 25px!important;
  }
  .titleSolde {
    color: #030039;
    font-weight: 900;
  }
  .styleSoldeReelPositif, .styleSoldeReelNegatif {
    color: #afafaf!important;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -2px;
  }
}

.accountInfo {
  padding: 20px 35px;
  h3 {
    font-size: 16px!important;
    font-weight: 900!important;
    margin: 10px 0 5px!important;
    color: #030039;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    margin: 0 0 15px;
    color: #030039;
    letter-spacing: 1px;
  }
  button {
    background: #f80117;
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 900;
    font-size: 11px;
    border: none;
  }
}

.scrollableList {
  height: 62px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}