
/*===== Navbar Custom ======*/
.navbarCustom {
  background: #fff;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0 3px #cdcdcd;
  z-index: 999;
  padding: 20px 0px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  ul li {
    width: auto;
    height: auto;
    border: none;
    a {
      color: #858585;
      font-size: 15px;
      margin: 5px 0px;
      &:hover , &:focus {
        background-color: transparent !important;
        color: #009a65;
      }
    }
  }
}

/*======= Home =======*/

.home {
  font-family: 'montserrat', sans-serif !important;
  position: relative;
  //background: #145791;
  background-image: url(../images/login/pme-bg.jpg);
  background-color: #f0f0f0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 40px 0 60px;
}

.homeWrapper {
  a { cursor: pointer; }
  h2 {
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
  }
  p { color: #b6b6b6; }
}

.homeWrapper p {
  margin: 15px auto 20px auto;
  font-size: 13px;
}

//======= Intro Form =======//
.introForm {
  background-color: #009a65;
  background: linear-gradient(#009a65, #326751);
  padding: 50px 40px 80px;
  border-radius: 0;
  border: 0px solid #EAE7E7;
  opacity: 0.98;
}

.introForm h3{
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 20px;
}

.introForm input {
  border: 1px solid #dbdbdb;
  height: 45px;
  padding-left: 38px;
  box-shadow: none !important;
  background: #f8f8f8!important;
  border-radius: 5px!important;
  &:hover, &:focus {
    border-color: rgba(44, 85, 50, 0.55);
  }
}

.introForm input[type="checkbox"] {
  height: 12px!important;
}

.loginBtn {
  margin-top: 3%;
  width: 100%;
  color: #009a65;
  border-radius: 5px;
  height: 45px;
  line-height: 27px;
  background-color: #e2e2e2 !important;
  font-weight: 600;
  box-shadow: 1px 5px 9px rgba(33, 33, 33, 0.1);
  &:hover, &:focus {
    color: #009a65;
    opacity: .8;
  }
}

.registerBtn {
  background: #f0f0f0;
  color: #009a65;
  border: 1px solid #ffb1a6;
  padding: 3px 20px;
  margin: 5px 0;
  &:hover, &:focus {
    background: #4aaa59;
    color: #fff;
    border: 1px solid #ffb1a6;
  }
}

.unWrap i {
  position: absolute;
  color: #949799;
  font-size: 16px;
  padding: 14px;
}

.deleteInput {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 9px;
  text-align: center;
  background-color: #ababab;
  color: #fafafa;
  font-size: 18px;
  padding: 0px;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: #eaeaea;
    color: #fff;
  }
}

//----- Title Section ----//

.titleBox {
  h3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .border {
    height: 4px;
    width: 60px;
    border-radius: 5px;
    margin: 0px auto 30px auto;
    background: #009a65;
  }
  .titleAlt {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #009a65;
  }
}


/*======= Features =======*/

.serviceItem {
  padding: 15px 8px;
  margin: 10px 6%;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  img {
    height: 80px;
    margin: 0px auto 10px auto;
    display: block;
    transition: all .2s ease-in-out;
  }
  &:hover {
    background: #f4f4f4;
    img {
      transform: scale(1.3);
    }
  }
  .service-detail p {
    color: #9aa7af;
    line-height: 24px;
    width: 90%;
    margin: 10px auto;
  }
}


/*======= FAQ ======*/

.questionBox {
  height: 30px;
  width: 30px;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  float: left;
  line-height: 30px;
  background: #009a65;
}

.question {
  margin-top: 0px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
}

.answer {
  margin-left: 40px;
  color: #9aa7af;
  margin-bottom: 40px;
}


/*======= Footer =======*/

.footer {
  font-family: 'montserrat', sans-serif !important;
  padding-bottom: 60px;
  background: #fff;
  h5{
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  ul li {
    margin: 5px 0px;
  }
}

.footerAlt {
  border-top: 1px solid rgb(175, 174, 174);
  margin-top: 30px;
  padding-top: 20px;
  p, a {
    color: #333;
    font-size: 11px;
    line-height: 40px;
  }
}

.footerAlt .logo {
  margin-bottom: 0px;
  height: auto;
  padding: 0px;
}


@media (max-width: 768px) {

  .navbarCustom {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
  }
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
  .footer h5 {
    margin-top: 30px;
  }
  .logo {
    margin-top: 7px;
  }
  .introForm {
    margin-top: 35px;
    //padding: 20px 15px;
  }
}


//======== Mobile App section ======//

.appMobile {
  h3, h4 {
    margin: 30px 0;
  }
  .screen {
    transform: scale(1.6);
    margin-top: -20px;
  }
}

@media (max-width: 768px) {
  .screen {
    transform: scale(1.35)!important;
    margin-top: -35px!important;
  }
  .appMobile {
    h3 {
      font-size: 20px;
    }
  }
  .keyboard {
    width: auto!important;
  }
}

//======== Shape ======//

.elementorShape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  margin-top: -70px;
  bottom: 0;
}

.elementorShape svg {
  height: 70px;
  display: block;
  width: -webkit-calc(100% + 1.3px);
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


/*======= Keypad TO ADD =======*/

.keypad button {
  cursor: pointer;
  background: #cccccc;
  color: #201d1d;
  font-size: 23px;
  display: block;
  line-height: 35px;
  height: 36px;
  text-align: center;
  font-weight: 300;
  transition: all 0.2s ease;
  float: left;
  padding: 0 3% !important;
  width: 15% !important;
  margin: 6px 7px !important;
  border-radius:0px;
  border:none;
}

.keypad button:hover {
  background: #009a65;
  color: #fff;
}

/*======= CLAVIER VIRTUEL =======*/

.btnMatrix > button {
  cursor: pointer;
  background: #e9e9e9;
  border: 1px solid #cecece;
  color: #201d1d;
  font-size: 16px;
  display: block;
  line-height: 24px;
  height: 27px;
  text-align: center;
  font-weight: 300;
  transition: all 0.2s ease;
  float: left;
  padding: 0 !important;
  width: 28px !important;
  margin: 3px !important;
  //font-family: 'Roboto', 'Arial', sans-serif;
  border-radius: 3px;
}

.btnMatrix > button:nth-child(5n+6) {
  clear: left;
  margin-left: 0;
}

.btnMatrix > button:nth-child(n+6) {
  margin-top: -1px;
}

.btnMatrix > button:first-child {
  border-bottom-left-radius: 0;
}

.btnMatrix > button:nth-child(5) {
  border-top-right-radius: 4px !important;
}

.btnMatrix > button:nth-last-child(5) {
  border-bottom-left-radius: 4px !important;
}

.btnMatrix > button:last-child {
  border-top-right-radius: 0;
}

.keyboard {
  position: absolute;
  margin: 5px 0;
  width: 485px;
  z-index: 9;
}