
/*===== Navbar Custom ======*/
.navbarCustom {
  background: #fff;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0 3px #cdcdcd;
  z-index: 999;
  padding: 20px 0px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  ul li {
    width: auto;
    height: auto;
    border: none;
    a {
      color: #858585;
      font-size: 15px;
      margin: 5px 0px;
      &:hover , &:focus {
        background-color: transparent !important;
        color: var(--basicColor);
      }
    }
  }
}

/*======= Home =======*/

.home {
  position: relative;
  background: #145791;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(234, 96, 16, 0.75)), color-stop(100%, rgba(17, 2, 49, 0))), -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(145, 145, 145, 0.78)), color-stop(12.5%, #ffffff), color-stop(25%, #ffe7db), color-stop(37.5%, #ffc09b), color-stop(50%, #c7c7c7), color-stop(62.5%, #c3bcb0), color-stop(75%, #ffffff), color-stop(87.5%, #a2a2a2), color-stop(100%, #606060));
  background-color: rgba(34, 34, 34, 0.99);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 65px;
}

.homeWrapper {
  h2, p {
    color: #fff!important;
  }
}

.homeWrapper p {
  margin: 15px auto 20px auto;
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}

//======= Intro Form =======//
.introForm {
  background-color: #FFFFFF;
  padding: 30px 20px;
  border-radius: 15px;
  border: 0px solid #EAE7E7;
  opacity:0.98;
}

.introForm h3{
  color: #949799;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}

.introForm input {
  border: 1px solid #dbdbdb;
  height: 45px;
  padding-left: 38px;
  box-shadow: none !important;
  background: #f8f8f8!important;
  border-radius: 5px!important;
  &:hover, &:focus {
    border-color: #fec09c;
  }
}

.loginBtn {
  margin-top: 3%;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  height: 45px;
  line-height: 27px;
  background-color: #919191 !important;
  border: 1px solid #919191 !important;
  box-shadow: 1px 2px 5px rgba(104, 104, 104, 0.32);
  &:hover, &:focus {
    color: #fff;
    opacity: .8;
  }
}

.unWrap i {
  position: absolute;
  color: #949799;
  font-size: 16px;
  padding: 14px;
}

//----- Title Section ----//

.titleBox {
  h3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .border {
    height: 4px;
    width: 60px;
    border-radius: 5px;
    margin: 0px auto 30px auto;
    background: var(--basicColor);
  }
  .titleAlt {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--basicColor);
  }
}


/*======= Features =======*/

.serviceItem {
  padding: 15px 8px;
  margin: 10px 6%;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  img {
    height: 80px;
    margin: 0px auto 10px auto;
    display: block;
    transition: all .2s ease-in-out;
  }
  &:hover {
    background: #f4f4f4;
    img {
      transform: scale(1.3);
    }
  }
  .service-detail p {
    color: #9aa7af;
    line-height: 24px;
    width: 90%;
    margin: 10px auto;
  }
}


/*======= FAQ ======*/

.questionBox {
  height: 30px;
  width: 30px;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  float: left;
  line-height: 30px;
  background: var(--basicColor);
}

.question {
  margin-top: 0px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
}

.answer {
  margin-left: 40px;
  color: #9aa7af;
  margin-bottom: 40px;
}


/*======= Footer =======*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f0f0f0;
  h5{
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  p {
    color: #9aa7af;
  }
  a{
    color: #9aa7af;
  }
  ul li {
    margin: 5px 0px;
  }
}

.footerAlt {
  border-top: 1px solid rgba(151, 160, 175, 0.2);
  margin-top: 30px;
  padding-top: 20px;
}

.footerAlt .logo {
  margin-bottom: 0px;
  height: auto;
  padding: 0px;
}


@media (max-width: 768px) {

  .navbarCustom {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
  }
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
  .footer h5 {
    margin-top: 30px;
  }
  .logo {
    margin-top: 7px;
  }
  .introForm {
    margin-top: 35px;
    padding: 20px 15px;
  }
}


//======== Mobile App section ======//

.appMobile {
  h3, h4 {
    margin: 30px 0;
  }
  .screen {
    transform: scale(1.6);
    margin-top: -20px;
  }
}

@media (max-width: 768px) {
  .screen {
    transform: scale(1.35)!important;
    margin-top: -35px!important;
  }
  .appMobile {
    h3 {
      font-size: 20px;
    }
  }

}

//======== Shape ======//

.elementorShape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  margin-top: -70px;
  bottom: 0;
}

.elementorShape svg {
  height: 70px;
  display: block;
  width: -webkit-calc(100% + 1.3px);
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


/*======= Keypad TO ADD =======*/

.deleteInput {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 12px;
  font-weight: bold;
  top: 10px;
  text-align: center;
  background-color: #fff;
  color: #a8a8a8;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  padding: 1px;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: #d6d6d6;
    color: #fff;
  }
}

.keypad button {
  cursor: pointer;
  background: #cccccc;
  color: #201d1d;
  font-size: 23px;
  display: block;
  line-height: 35px;
  height: 36px;
  text-align: center;
  font-weight: 300;
  transition: all 0.2s ease;
  float: left;
  padding: 0 3% !important;
  width: 15% !important;
  margin: 6px 7px !important;
  border-radius:0px;
  border:none;
}

.keypad button:hover {
  background: #f95d01;
  color: #fff;
}

/*======= CLAVIER VIRTUEL =======*/

.btnMatrix > button {
  cursor: pointer;
  background: #e9e9e9;
  border: 1px solid #cecece;
  color: #201d1d;
  font-size: 16px;
  display: block;
  line-height: 24px;
  height: 27px;
  text-align: center;
  font-weight: 300;
  transition: all 0.2s ease;
  float: left;
  padding: 0 !important;
  width: 28px !important;
  margin: 3px !important;
  //font-family: 'Roboto', 'Arial', sans-serif;
  border-radius: 3px;
  &:hover {
    background: #777777;
    color: #fff;
    border-color: #777777;
  }
}

.btnMatrix > button:nth-child(5n+6) {
  clear: left;
  margin-left: 0;
}

.btnMatrix > button:nth-child(n+6) {
  margin-top: -1px;
}

.btnMatrix > button:first-child {
  border-bottom-left-radius: 0;
}

.btnMatrix > button:nth-child(5) {
  border-top-right-radius: 4px !important;
}

.btnMatrix > button:nth-last-child(5) {
  border-bottom-left-radius: 4px !important;
}

.btnMatrix > button:last-child {
  border-top-right-radius: 0;
}

