
.PanelMesagerie{
    background: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 15px 15px 0px 15px;
    border: solid 1px #dadada;
    td, th {
      padding: 15px 4px 15px 4px !important;
    }
    th {
      color: #b5b5b5 !important;
    }
    tbody tr {
      cursor: pointer !important;
    }
}
 
.PanelButton{
    background: white;
    text-align: center;
    border: solid 1px #dadada;
    border-radius: 4px;
    padding: 10px;
}

.PanelButtonsEditor{
    background: transparent;
    text-align: left;
    border: solid 1px #e7ecf1;
}

 .BadgeActif{
    background-color: var(--basicColor);
    display: inline-block;
     padding: 3px 6px 4px 6px;
    font-size: 11px;
    color: #fff;
    line-height: 1;
    border-radius: 10px;
    margin-left: 8px;
    font-weight: 600;
 }

 .BadgeInactif{
    background-color: white;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    font-size: 11px;
    color: black;
    line-height: 1;
    border-radius: 10px;
    margin-left: 8px;
    font-weight: 600;
 }

//Button Messages Recus and messages Envoye
.BouttonInbox{
  border: 0;
  outline: 0;
  background-color:transparent;
  color: #838383;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
 }
.BouttonInbox:hover{
  background-color: #f5f5f5;
  cursor: pointer;
  color: #5e6468;
}
.ButtonInboxSelected {
  border: 0;
  outline: 0;
  background-color: #cccccc;
  color: #5e6468;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
}
.BouttonInbox:focus, .BouttonInbox:active {
  border: 0;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #5e6468;
}
// style appliquer pour le button New message
 .BouttonNewMessage{
  border: 0;
  outline: 0;
  background-color:#dd5826;
  color: white;
  margin-bottom: 27px;
}
.BouttonNewMessage:hover{
  border: 0;
  outline: 0;
  background-color:#ca4e20;
  cursor: pointer;
  color: white;
}
.BouttonNewMessage:focus, .BouttonNewMessage:active {
  border: 0;
  outline: 0;
  background-color:#b4461c;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

// style appliquer pour le button Valider
.ButtonStyle{
  border: 0;
  outline: 0;
  background-color:#dd5826;
  color: white;
  margin-right: 14px;
}
.ButtonStyle:hover{
  background-color:#ca4e20;
    color: white;
}
.ButtonStyle:focus, .ButtonStyle:active {
     border: 0;
  outline: 0;
  background-color:#b4461c;
    color: white;
}

// style appliquer pour le button annuler
.ButtonAnnulerStyle{
  border: 0;
  outline: 0;
  background-color:#9b9b9b;
  color: white;
  margin-right: 14px;
}
.ButtonAnnulerStyle:hover{
  background-color:#838383;
    color: white;
}
.ButtonAnnulerStyle:focus, .ButtonAnnulerStyle:active {
     border: 0;
  outline: 0;
  background-color:gray;
    color: white;
}

.RowsMessagerieStyle{
  padding: 14px;
}

.RowButtonSent{
  padding: 14px;
  text-align: right;
}
.header{
  font-weight: 600;
  color: #555;
  margin-top: 41px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #dd5826;
    display: inline-block;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 0px 4px 4px 0px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #b4461c;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.backbtn {
  background: #efefef;
  border-radius: 3px;
  color: #5e6468;
  height: 37px;
}