
.compteCard {
  background: #fff;
  padding: 15px;
  margin-right: -9px;
  min-height: 110px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 20px;
}
legend {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: inherit;
  color: var(--var(--basicColor));
  border-bottom: 1px solid #e5e5e5;
}
label
{
  font-size: 13px;
  line-height: 1.428571429;
  color: #555;
  /*width: 25%;*/
}
.compteCard h3 {
  font-size: 16px;
  margin-top: 10px
}
.compteCard p {
  color: #6d6b6a;
}
.error {
  color :#ff1a1a;
}

.field{
  margin-bottom:10px;
}
.ButtonStyle{
  margin-right: 16px;
  border: 0;
  outline: 0;
  background-color:#e0683b;
  color: white;
}

.buttonImprimer{
  width: 200px !important;

}

.ButtonStyle:hover{

  background-color:#e37951;
  color: white;
}

.ButtonStyle:focus, .ButtonStyle:active {

  border: 0;
  outline: 0;
  background-color:#b4461c;
  color: white;

}

.wizzard{
  margin-left: -13%;
}

.fraisLabel{
  color: var(--basicColor);
  float: right;
  font-size: 16px!important;
}

.montantTotal{
  color:rgba(0, 128, 89, 0.76);
  float: right;
  font-size: 16px!important;
}

.gridAction{
  width: 100px;
}


.SyntheseBloc {
  padding: 25px 20px 70px;
  margin: 0 0 30px 30px;
  p {
    text-align: right;
  }
}

.legendSynthese {
  text-align: center;
  text-transform: uppercase!important;
  font-size: 20px!important;
  margin: 30px 0 0 30px;
  padding: 5px;
  background: var(--basicColor);
  color: #fff;
}

.iconTransfer {
  height: 60px;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../themes/adria/images/transfertArgent/transfer.png");
}

@media screen and (max-width: 767px ){

  .SyntheseBloc {
    padding: 0;
    margin: 0;
  }

  .legendSynthese {
    margin: 30px 0 0 0;
  }

}


.choiceBloc {
  cursor: pointer;
  display: block;
  text-align: center;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  .iconCard {
    opacity: .6;
    height: 40px;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    font-size: 11px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  &:hover {
    background: #fdece6;
    box-shadow: 0px 2px 3px #dedede;
  }
}

.active {
  background: #fdece6;
  box-shadow: 0px 2px 3px #dedede;
}

.account { background-image: url("../../../themes/adria/images/transfertArgent/bank.png"); }
.money { background-image: url("../../../themes/adria/images/transfertArgent/coins.png"); }
.card { background-image: url("../../../themes/adria/images/transfertArgent/credit-card.png"); }
.bankTransfer { background-image: url("../../../themes/adria/images/transfertArgent/transfer-bank.png"); }
.moneyTransfer { background-image: url("../../../themes/adria/images/transfertArgent/transfer-money.png"); }


//----- Register page -----//

.headerBloc {
  padding: 15px;
  background: rgba(250, 93, 0, 0.12);
  text-align: center;
  border: 1px solid rgba(250, 93, 0, 0.2);
  border-radius: 4px 4px 0 0;
  h2 {
    margin: 0;
    color: var(--basicColor);
  }
  h4 {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px;
    color: #808080;
  }
  .iconRegister {
    opacity: .6;
    height: 70px;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../themes/adria/images/transfertArgent/user.png");
  }
}

.wizarddiv{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url('../../../themes/adria/images/img-virement.jpg');
  background-size: cover;
  //background: var(--SearchBG);
  height: 165px;
  padding: 20px 0 10px 0;
  border: 1px solid #dddddd;
  border-radius: 5px 5px 0 0;
}

.accountDirect{
  margin-bottom: 20px;
  h5{
    margin-top: 0;
  }
  p {
    height: 42px;
    margin-top: 18px;
    border: 1px solid #cacaca;
    padding: 11px 28px;
    border-radius: 3px;
    font-size: 14px;
  }
}
.virementTable{
  overflow: auto;
}

.virementTable{
  .ownerCol{
    text-align:left;
    font-size: 14px;
  }
}
.virementTable{
  th, td {
    padding: 14px 4px 14px 4px!important;
    color: #5e6468!important;
  }
}

.hrClass {
  margin: 25px 1px;
  border-top: 2px solid #dfdbdb;
}

.table>tfoot>tr>th {
  font-size: 12px!important;
  padding: 23px 4px 20px;
  color: #979797!important;
  vertical-align: middle;
}