$basicOrange:#f65f20;

.compteCard {
     background: #fff;
     margin-right: -9px;
     min-height: 110px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 15px;
     padding-top: 10px;
legend {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: inherit;
    color: #7c7c7c;
    border-bottom: 1px solid #e5e5e5;
}
label
  {
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    width:'85%';
  }
  }
   .compteCard h3 {
    font-size: 16px;
    margin-top: 10px 
  }
  .compteCard p {
    color: #6d6b6a;
  }
  .ButtonStyle{
  border: 0;
  outline: 0;
  background-color:#e0683b;
  color: white;
  margin-right: 16px;
}
.ButtonStyle2{
  border: 0;
  outline: 0;
  background-color:white;
  color: black;
  margin-right: 16px;
}
.ButtonStyle:hover{
  background-color:#e37951;
    color: white;
}
.ButtonStyle:focus, .ButtonStyle:active {
     border: 0;
  outline: 0;
  background-color:#b4461c;
    color: white;
}   
.ButtonPasswordStyle{
 border: 0;
  outline: 0;
  background-color:#191919;
  color: white;
  line-height: 1.59;
  border-radius:0px;
}
.ButtonPasswordStyle:hover, .ButtonPasswordStyle:focus{

  background-color:black;

}
.PanelKey {
    border: none;
    width: 184px;
  }
.formControle{
  border-radius:0px;
}
.modalContainer{
  position: relative;
}
.modalContainer .modal, .modalContainer .modal-backdrop {
  position: absolute;
}
.error {
color :#4d0000;
  }
.LabelColumnDEvise{
    width: 100px;
}
  .banner {
    background: $basicOrange;
    color: #fff;
    padding: 10px;
    text-align: left;
    min-height: 488px;
    img{
      width: 100%;
      display: block;
      max-width: 430px;
      margin: 0 auto 13px;
    }
  }

.paddingColumn
{
margin-top: 20px;
margin-bottom: 20px;
}
.compteCard p{
    margin-top: 5px;
    margin-bottom: 35px;
}

.datePickerFormControl {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.panelButton{
margin-bottom: 10px;
}

.fieldRow{
  margin-bottom:10px;
}