
.pageWrap {
  padding:30px 10px;
  border-radius: 3px;
  border: var(--PasswordPanelBorder);
  background: var(--PasswordPanelBG);
  label {
    color: var(--SearchFormColor) !important;
  }
}

.errorPasswor {
  color: #ff1a1a;
  margin-top: 8px;
  font-size: 11px;
}

.iconBloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  img {
    height: 200px;
    filter: var(--iconsFilter);
  }
}

.compteCard {
  background: #fff;
  padding: 15px;
  margin-right: -9px;
  min-height: 110px;
  padding-left: 6px;
  padding-right: 10px;
  legend {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: inherit;
    color: #7c7c7c;
    border-bottom: 1px solid #e5e5e5;
  }
  label
  {
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    width: 25%;
  }
}

.fieldRow{
  margin-bottom:10px;
}
