.reportingPanel {
  .p,
  p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
  }

  .a,
  a {
    padding-right: 10px;
  }
  .small,
  small {
    font-size: 85%;
  }
  .detailsrow {
    margin-bottom: 12px;
  }

  .fwsemibold {
    font-weight: 600;
  }

  .circle,
  circle {
    border-radius: 50%;
  }

  .h6,
  h6 {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .h5,
  h5 {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 6px;
    color: var(--basicColor);
    border-bottom: 2px #dce0e0 solid;
    padding-bottom: 10px;
  }

  .h4,
  h4 {
    font-family: inherit;
    font-size: 10px;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 6px;
    color: var(--basicColor);
    padding-bottom: 3px;
    text-decoration: underline;
    font-weight: bold;
  }
  .item {
    padding-left: 14px;

    display: inline-block;
    padding-right: 14px;
  }

  .itemFilter {
    padding-left: 15px;
    display: inline-block;
    padding-right: 15px;
  }

  div {
    display: block;
  }

  .widget {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 4px;
    padding-left: 15px;
    height: 215px;
    border: 1px solid lightgray;
  }
  .filterMenu {
    button {
      font-size: 8px;
      border: none;
      span {
        display: none;
      }
    }
  }
  .timelinediv {
    position: relative;
    margin: 0px 15px 30px;
    padding: 2px 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid lightgray;
  }

  .widgetcontrols {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: 12px;
    padding-right: 10px;
  }

  * {
    box-sizing: border-box;
  }

  .widget > header h1,
  .widget > header h2,
  .widget > header h3,
  .widget > header h4,
  .widget > header h5,
  .widget > header h6 {
    margin: 0;
  }

  section {
    display: block;
  }

  .buttonTimeline {
    //margin-left: 233px;
    visibility: hidden;
  }

  .buttonFilter {
    vertical-align: bottom;
    margin-left: 390px;
    margin-bottom: 10px;
    margin-top: 80px;
    padding: 0;
    width: 65px;
    background-color: dodgerblue;
    color: white;
  }

  .divider {
    width: 300px;
    height: auto;
    display: inline-block;
  }

  .canalDropdown {
    width: 103%;
    height: 26px;
    padding: 0px 12px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    visibility: hidden;
  }

  .filter {
    border: none;
    font-size: 10px;
    margin-top: -3px;
    margin-bottom: -1px;
  }
}
