.timeline {
	
	min-height: 100px;
	position: relative;
	padding: 40px 20px;
}

.timeline:before,
.timeline:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	tranform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background: var(--basicColor);
}

.timeline:before {
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.timeline:after {
	bottom: 0;
	width: 2px;
}

.timelineItem {
	width: 100%;
	font-size: 0.9rem;
	margin: 50px 0px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.timelineItem > * {
	-webkit-flex: 100px;
	-ms-flex: 100px;
	flex: 100px;
}

.timelineItem:last-child:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background: var(--basicColor);
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.timelineItemTitle {
	
	color: #020202;
	font-size: 10px;
	
}

.timelineItemDate {
	color: #020202;
	font-size: 10px;
	text-align: right
	
}

.timelineItemSelector {
	-webkit-flex: 0 0 6px;
	-ms-flex: 0 0 6px;
	flex: 0 0 6px;
	padding: 6px;
	border: 1px solid var(--basicColor);
	border-radius: 50%;
	margin: 0px 20px;
	background: #fff;
	z-index: 2;
	padding: 12px;
	height: 37px;
}

