@import "../variables.scss";


.iconCMI {
  background-size: contain;
  background-image: url('../images/transferCardToAccount/logo_cmi.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  margin: 5px;
}
.iconMasterCard {
  background-size: contain;
  background-image: url('../images/transferCardToAccount/masterCard_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  margin: 5px;
}
.iconVisa {
  background-size: contain;
  background-image: url('../images/transferCardToAccount/verified_by_visa.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  margin: 5px;
}
