<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
        <meta name="description" content={{htmlWebpackPlugin.options.description}}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" id="favicon" type="image/png" href="/themes/00000/images/favicons/favicon-00000.png"/>

    </head>
    <body>
        <div id="root">

        </div>
        
    <script type="text/javascript">
        let baseUrl = '';
        let bankCode = '00000';
        let userDetails = { }
        let lang = 'fr';
    </script>
    </body>
</html>