.appHeader {
  height: 55px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 2px 0px #ddd;

  li {
    position: relative;
    display: block;
    float: right;
    border-left: 1px solid #eaeaea;
  }
  .userNav {
    li {
      width: 100%;
      a {
        padding-top: 8px;
      }
    }
  }

  nav :global(.fa) {
    font-size: 1.3em;
    line-height: 20px;
    background: transparent;
    border-radius: 100px;
    color: #eb4c09;
    padding: 4px 6px 4px 6px;
  }
  //header menu

  .userNav {
    span {
      label {
        color: #7b7b7b;
        font-weight: 600;
      }
    }
    .icoUser {
      border: 1px solid #eee;
      padding: 7px;
      background: #f0f0f0;
      border-radius: 50%;
      font-size: 14px;
      margin-right: 9px;
    }
    .icoArrow {
      font-size: 10px;
      margin: 0 7px;
      color: #7b7b7b;
      font-weight: 700;
    }
    .userNavItem {
      a {
        height: 55px;
        font-size: 13px;
      }
      &:hover {
        background: transparent !important;
      }
    }
  }
  .logOut {
    a {
      padding-left: 0;
      color: #7b7b7b !important;
      font-size: 17px !important;
    }
  }
  .IcoAff {
    font-size: 17px;
    color: #7b7b7b;
    padding: 0 0 0 25px;
  }
  .textSearchCont {
  }
  .textSearch {
    padding: 0px 10px 9px 10px;
    border: none;
    border-bottom: solid 2px #fbfbfb;
    width: 130px;
    transition: border 0.3s;
    color: #7c94aa;
    font-size: 15px;
    margin: 0 10px;
    &:hover,
    &:focus,
    &:active {
      border-bottom: solid 2px #969696;
    }
  }
  .IcoMagnif {
    font-size: 14px;
    color: #7b7b7b;
  }
  .IcoMenuUp {
    font-size: 15px;
    position: relative;
    top: 2px;
    color: #7b7b7b;
  }
  .notifNbr {
    background-color: #fa8100;
    color: #fff;
    padding: 2px 4px 2px 4px;
    border-radius: 100%;
    font-size: 9px;
    font-style: normal;
    position: relative;
    top: -12px;
    left: -8px;
  }
} //end of appheader

//sidemenu

.sideMenu {
  padding: 0;
  background: #5c5c5c;
  z-index: 99;
  width: 243px;
  height: 100%;
  position: fixed;
  .menuSection1 {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 10px;
    width: 50%;
    float: left;
  }
  .menuSection2 {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 10px;
  }
  .menuSection3 {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 10px;
  }
  .menuItem {
    padding-top: 5px;
    padding-bottom: 15px;
    a {
      color: #606060 !important;
    }
    &:hover {
      background-color: transparent !important;
    }
  }

  .dropdownMenu1 {
    width: 430px;
  }
  .dropdownMenu2 {
    width: 700px;
  }
  .dropdownMenu3 {
    width: 700px;
  }
  .dropdownMenu4 {
    width: 260px;
  }
  .navServices > ul {
  }
  .navPayments > ul {
    width: 611px;
  }

  a {
    text-decoration: none !important;
  }

  li:hover,
  li:focus,
  li:active {
    background: grey !important;
  }

  .openDropdown {
    padding: 15px 10px 17px 40px;
    border: 1px solid #898989;
    ul {
      top: -55px;
      width: auto;
      left: 101%;
      padding: 0 10px 25px;
      z-index: 2;
      &:before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        z-index: -1;
        left: -8px;
        top: 64px;
        transform: rotate(135deg);
        background: inherit;
      }
    }
    a {
      font-weight: 600;
      font-size: 12px;
      color: #fff;
      &:hover {
        background-color: transparent;
        //color:#f65f20;
      }
      &:focus,
      &:active {
        //color:#f65f20;
        //font-weight: 800;
        background-color: transparent;
      }
    }
    &:hover,
    &:focus,
    &:active {
    }
  }
  .ComptesTypes {
  }
  .navPayments {
  }
  .navServices {
    .defaultHeight {
      min-height: 280px;
    }
  }
  .settingAc {
  }
  .msgAc {
  }
  .defaultHeight {
    min-height: 240px;
  }
  .iconize {
    color: #fff;
    position: relative;
    top: 15px;
    left: 20px;
    float: left;
    font-size: 25px;
    z-index: 2;
  }
  .iconMenu {
    color: #f65f20;
    position: relative;
    top: 8px;
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    & + span {
      color: #f65f20;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .menuItem {
    padding: 5px 0px 5px 5px;
  }
}
//RESPONSIVE :
//IPAD
@media screen and (max-width: 995px) {
  .sideMenu {
    .openDropdown {
      ul {
        top: 68px;
        left: 0;
        width: auto;
        &:before {
          background: url("./images/arrowShadowUp.png") no-repeat center center;
          top: -16px;
          left: 50%;
        }
      }
    }
    .ComptesTypes {
    }
    .navPayments {
    }
    .navServices {
    }
    .settingAc {
    }
    .msgAc {
    }
  }
}

//phones

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .appHeader {
    li {
      position: relative;
      display: block;
      float: right;
      border-left: 1px solid #eaeaea;
    }
    .userNav {
      li {
        width: 100%;
      }
    }
    .textSearchCont {
      width: 100%;
      padding-left: 0;
    }
  }
  .textSearchCont {
    .IcoMenuUp {
      display: none;
    }
    .textSearch {
      width: 88%;
    }
  }

  .sideMenu {
    width: 65px;
  }

  .menuItm {
    padding-left: 0px !important;
  }

  .openDropdown {
    ul {
      width: 100%;
    }
    .dropdownMenu1,
    .dropdownMenu2,
    .dropdownMenu3,
    .dropdownMenu4 {
      width: 100%;
    }
    .defaultHeight {
      min-height: 0;
    }
  }
}

/*task style */

.taskCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.taskRef {
  border: 1px solid #eee;
  padding: 10px;
  background: #f1f3fa;
  border-radius: 68%;
  font-size: 11px;
  font-weight: 800;
}
.taskDesc {
  font-weight: bold;
  font-size: 10px;
  color: #93a2a9;
  margin-left: 15px;
}

.moreLink {
  margin-left: 62%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #acbcce;
  height: 20px !important;
}
.dropDawnTasks {
  width: 310px;
  overflow: auto;
  height: 187px;
}

.TaskItem {
  position: relative;
  display: block;
  margin: 0px 0px 0px 1px;
  padding: 10px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.taskFullRef {
  font-weight: bold;
  font-size: 11px;
}
.taskTime {
  font-size: 9px;
  margin-left: -21px;
  font-weight: bold;
  color: #218bc3;
  margin-right: -10px;
}
.rowAllTask {
  height: 20px;
}
.spanNameUser {
  font-size: 12px;
  font-weight: 600;
  color: #7f96ac;
}

.menuItm {
  padding-left: 60px !important;
}

.lastItm {
  ul {
    top: -210px !important;
    &:before {
      top: 218px !important;
    }
  }
}
