/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Couleur principale
$basicColor : #D86851;
$actionColor : #b8d2e8;

//Couleur du Menu Vertical
$vMenuColor : #f8f8f8;
$MenuText : #5d6c7e;

// Page transaction
$wizardBG : transparent;
$infodivBorder : none;
$infodivBorderTop : none;

// Page mouvements
$cardMouvementBG : transparent;
$cardMouvementBorder : none;
$tabContentBorder : none;

// Bloc de recherche
$searchBG : transparent;
$searchBorder : none;
$btnSearchBG : #fff;
$btnSearchBorder : $basicColor;
$searchMargin : 0px;
$searchPadding : 10px 0px;

// Couleur de la page de Vos Comptes
$accountHeaderCard : white;
$accountHeaderColor: #5d6c7e;

//---------- Couleurs statiques du theme --------//

//Couleur notif number
$notifNbrColor : #D86851;

//Couleur du header
$headerColor : #FFFFFF;

//Couleur du Footer
$footerBG :  #231F20;
$footerFG : #FFF;

$layoutsBg : white;

//Couleur du background de l'application
$bodyBG : #FFFFFF;
$headerTitle : #5d6c7e;

// Couleur de la page de Vos Comptes
$accountHeaderBG: white;
$accountBG: $headerColor;


// ------------------------- Couleur des icons -------------------------//

$iconAcceuil : '../../themes/00861/images/Menu/acceuil.png';
$iconCompte : '../../themes/00861/images/Menu/compte.png';
$iconPaiement : '../../themes/00861/images/Menu/paiement.png';
$iconService : '../../themes/00861/images/Menu/service.png';
$iconAdmin : '../../themes/00861/images/Menu/admin.png';
$iconMessagerie : '../../themes/00861/images/Menu/messagerie.png';

$iconTaches : '../../themes/00861/images/Header/tache.png';
$iconUser : '../../themes/00861/images/Header/user.png';
$iconLogout : '../../themes/00861/images/Header/logout.png';

$iconFile : '../../themes/00861/images/Account/file.png';
$iconChart : '../../themes/00861/images/Account/chart.png';
$iconList: '../../themes/00861/images/Account/list.png';
$iconLarge : '../../themes/00861/images/Account/large.png';
$iconCloud : '../../themes/00861/images/Account/cloud.png';
$iconAccount : '../../themes/00861/images/Account/compte.png';

$iconStep1 : '../../themes/00861/images/Signature/step1.png';
$iconStep1Hover : '../../themes/00861/images/Signature/step1_hover.png';
$iconStep2 : '../../themes/00861/images/Signature/step2.png';
$iconStep2Hover : '../../themes/00861/images/Signature/step2_hover.png';
$iconStep3 : '../../themes/00861/images/Signature/step3.png';
$iconStep3Hover : '../../themes/00861/images/Signature/step3_hover.png';
