@import './variables.scss';

.appContent {
  margin-left: 70px; // for collapse menu
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 30px;
  margin-top: 60px;
}

@media screen and (max-width: 767px)
{
  .appContent {
    margin-top: 0!important;
    margin-left: 0!important;
    padding: 0 20px!important;
  }
  .vMenu {
    display: none;
  }
  .Mobilehide {
    display: none;
  }
}


.app-panel {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px;
}

.app-panel p {
  font-size: 12px;
}

.app-panel legend {
  text-transform: uppercase;
  font-size: 20px;
  color: inherit;
  font-weight: 600;
  margin-bottom: 10px !important;
}

.app-panel label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px !important;
  color: black !important;
  letter-spacing: 1px;
}

.app-panel .value-label {
  font-weight: bold;
  font-size: 12px;
}

.app-panel form {
  padding: 11px;
}

.app-panel form .row {
  padding-bottom: 4px;
}

.app-panel fieldset {
  padding: 0px;
}

.app-panel .app-panel-toolbar {
  margin-top: 0px;
  margin-bottom: 20px;
}

// datePicker style
.datePickerStyle {
margin-bottom: 25px;
  width: 100%;
  height: 43px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #666;
  //background-color: #f5f5f5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #f5f5f5;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.react-datepicker__close-icon::after {
  background-color: transparent !important;
  border-radius: 0px !important;
  color: #d23333 !important;
  font-size: 17px !important;
  font-weight: 700;
  top: 41% !important;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: $colorTheme !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: 0px !important;
  background-color: $colorTheme !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  color: #000 !important;
  display: inline-block !important;
  width: 1.77em !important;
  line-height: 1.5em !important;
  text-align: center !important;
  margin: 1px !important;
  font-size: 10px;
}

.react-datepicker__day {
  font-weight: 700 !important;
}

.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc !important;
}

.react-datepicker__day:hover {
  border-radius: 0px !important;
  background-color: #f0f0f0 !important;
}

.react-datepicker__day--today {
  color: #a23407 !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid white !important;
  border-radius: 0px !important;
}

// Status
.status-saved {
  color: #ffc125;
}

.status-confirmed {
  color: #10cfbd;
}

.status-cancelled {
  color: red;
}

.status-discarded {
  color: #999;
}

// POSITIVES & NEGATIVES VALUES IN ACCOUNT TABLE
.posVal {
  color: #509f99 !important;
  font-weight: 600;
}

.negaVal {
  color: #f3565d !important;
  font-weight: 600;
}

.griddle .griddle-next {
  margin-left: 90%;
}

.griddle .griddle-page {
  margin-left: 50%;
}

.griddle .griddle-footer {
  text-align: center;
  margin-top: 15px;
}
 .griddle-page select {
   height: 28px;
   padding: 2px 3px 2px 10px;
   font-size: 12px;
   line-height: 1.42857;
   color: #666;
   border: 1px solid #ccc;
 }

.griddle-previous button, .griddle-next button {
  height: 28px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  color: #717171;
}

.ads-side-bar {
  padding-right: 0;
}

.ads-banner {
  background: $basicOrange;
  color: white;
  padding: 10px;
  text-align: left;
  min-height: 488px;
  img {
    width: 100%;
    max-width: 430px;
    height: 300px;
    display: block;
    margin: 0 auto 13px;
    //content: url('images/banner_mobile.jpg');
  }
}

.ads-banner h2 {
  padding-bottom: 50px;
}

.ads-banner button {
  background: white;
  padding: 5px;
  border-radius: 0px;
  border: none;
  width: 100%;
}

.application-offline .leftSide {
  width: 0px;
  display: none;
}

.loading-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 6px;
  background-color: $basicOrange;
  z-index: 9999;
}

.react-datepicker {
  font-family: $font-base !important;
  font-size: 13px !important;
  background-color: white;
  color: #000;
  border: 1px solid #f1f1f1 !important;
  border-radius: 0px !important;
  display: inline-block;
  position: relative;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  border-top-color: #f1f1f1 !important;
}

.react-datepicker__current-month {
  padding-bottom: 6px !important;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-bottom-color: white !important;
}

// status
.labelSigne {
  font-weight: 700;
  color: rgb(16, 207, 189);
}

.labelEnregistre {
  color: rgb(255, 193, 37);
  font-weight: 700;
}

.labelSupprimer {
  font-weight: 700;
  color: #d23333
}

.labelAbondonne {
  font-weight: 700;
  color: #999
}
.labelAffecte{
    font-weight: 700;
    color: white;
    background-color: green;
}

.popover-content {
  padding: 5px 16px 5px 5px;
  border-radius: 0px;
}

.popover-title {
  margin: 0;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  background-color: #edeff0;
  border-bottom: 1px solid #edeff0;
}

.pageWrap {
  display: table;
  margin: 0px auto;
  background: white;
  padding: 5px;
  cursor: pointer;
}

.keypad {
  float: left;
  font-family: $font-base;
  font-weight: 100;
  width: 180px;
  margin-right: -30px;
}

.keypad > span {

  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 2px;
  text-align: center;
  line-height: 33px;
  border-radius: 0px;
  border: 1px #edeff0 solid;
  background-color: white;
  font-size: 12px;
  color: #717171;
  transition: .5s;
  -webkit-transition: .5s;
  cursor: pointer;
  font-weight: 600;
}

.keypad > span:active, div > span:active {
  color: white;
  background: #edeff0;
  transition: 0s;
  -webkit-transition: 0s;
}

.call {
  text-align: center;
  background-color: #66FF66;
  font-size: 26px;
  font-weight: 200;
  color: white;
  line-height: 50px;
  border-radius: 0px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.call:active {
  box-shadow: 0 0 80px 1px black inset;
  transition: 0s;
  -webkit-transition: 0s;
}

.MenuFiles {
  button {
    padding-bottom: 0px;
    background: #7289a2;
    color: white;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    & + ul {
      padding-left: 2px;
      button {
        background: white;
        border: 1px solid #ccc;
        color: #7f99b5;
        transition: 0.5s;
        &:hover, &:active, &:focus {
          background: #7289a2;
          color: white;
        }
        i {
          font-size: 15px;
        }
      }
    }
  }
  i {
    position: relative;
    font-size: 10px;
  }
  .dropCloud {
    font-size: 17px;
    top: 3px;
    padding-right: 12px;
  }
  span {
    display: none;
  }
}

.dropDownMenuClass {
  min-width: 0px;
  padding: 5px;
}

// style Modal
.modal-title {
  margin: 0;
  line-height: 1.42857;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.modal-body {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid $colorTheme;
  background-color: $colorTheme;
}

.close {
  color: white;
  opacity: 0.5;
}

// style bouttons
.btn-group > .btn {
  border-radius: 1px !important;
}

.btn {
  border-radius: 1px;
  line-height: 1.43;
  font-size: 12px;
  i {
    padding-right: 10px;
  }
}

.btn-primary {
  background-color: #1ca8c0;
  border: 1px #1ca8c0 solid;
  color: white;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 700;
  margin: 15px 0 0 10px;
  i {
    padding-right: 10px;
  }
}

.btn-primary:hover {
  background-color: $btnHover;
  border: 1px $btnHover solid;
  color: white;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 700;
}

.btn-primary:focus, .btn-primary:active {
  background-color: $btnActive;
  border: 1px $btnActive solid;
  color: white;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 700;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
  background-color: $btnHover;
  border: 1px $btnHover solid;
  color: white;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 700;
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled]:hover .btn-primary:hover {
  background-color: $btnHover;
  border: 1px $btnHover solid;
  border-radius: 1px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.btnSearch {
  background-color: #7289a2;
  border: 1px #7289a2 solid;
  color: white;
}

.btnSearch:hover {
  background-color: #667b91;
  border: 1px #667b91 solid;
  color: white;
  border-radius: 0px;
}

.btnSearch:focus, .btnSearch:active {
  background-color: #5b6d81;
  border: 1px #5b6d81 solid;
  color: white;
  border-radius: 0px;
}

.btnSearch.disabled, .btnSearch[disabled], fieldset[disabled] .btnSearch {
  background-color: #7289a2;
  border: 1px #7289a2 solid;
  color: white;
  border-radius: 0px;
}

.btnSearch.disabled:hover, .btnSearch[disabled]:hover, fieldset[disabled]:hover .btnSearch:hover {
  background-color: #667b91;
  border: 1px #667b91 solid;
  border-radius: 0px;
  color: white;
  border-radius: 0px;
}

.btnHiden {
  background-color: transparent;
  border: 1px transparent solid;
  color: transparent;
  border-radius: 0px;
  cursor: auto;
}

.btnHiden:hover {
  background-color: transparent;
  border: 1px transparent solid;
  color: transparent;
  border-radius: 0px;
}

.btnHiden:focus, .btnHiden:active {
  background-color: transparent !important;
  border: none !important;
  color: transparent !important;
  border-radius: 0px !important;
}

.btnHiden.disabled, .btnHiden[disabled], fieldset[disabled] .btnHiden {
  background-color: transparent;
  border: 1px transparent solid;
  color: transparent;
  border-radius: 0px;
}

.btnHiden.disabled:hover, .btnHiden[disabled]:hover, fieldset[disabled]:hover .btnHiden:hover {
  background-color: transparent;
  border: 1px transparent solid;
  border-radius: 0px;
  color: transparent;
  border-radius: 0px;
}

// icon Styles
.deleteIcon {
  color: #d23333;
  font-size: 16px !important;
  padding-left: 8px;
}

.eyeIcon {
  color: $colorTheme;
  font-size: 16px !important;
  padding-right: 8px;
}

.iconPencil {
  color: #b8c4d0;
  font-size: 16px !important;
  padding-right: 8px;
}

.iconPencil:hover {
  color: $colorTheme;
  font-size: 16px !important;
  padding-right: 8px;
}

.borderLeft {
  border-left: 1px solid #ddd;
}

.wizardAnToolbar {
  height: 57px;
}

.panelCarousel {
  border-radius: 0px;
  height: 97px;
  width: 163px;
  background: white;
  border: 1px solid white;
  text-align: center;
  overflow: hidden;
  margin-left: 9px;
}

.panelCarouselSelected {
  .labelInPanelCarousel {
    color: white;
    font-size: 12px;
    margin-top: 28px;
    margin-left: 3px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 25px;
  }
  .iconCarousel {
    margin-top: 19px;
    font-size: 36px !important;
    color: white;
  }
  border-radius: 0px;
  height: 97px;
  width: 163px;
  background: $colorTheme;
  border: 1px solid white;
  text-align: center;
  overflow: hidden;
  margin-left: 9px;
}

.labelInPanelCarousel {
  color: $colorTheme;
  font-size: 12px;
  margin-top: 28px;
  margin-left: 1px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 25px;
}

.labelOrange {
  color: $colorTheme;
  float: right !important;
  text-align: right;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.labelMontantMin {
  float: left;
  color: #717171;
  font-size: 11px;
  font-weight: 500;
}

.labelMontantMax {
  float: right;
  color: #717171;
  font-size: 11px;
  font-weight: 500;
}

.carouselStyle {
  margin-left: 59px;
  margin-right: -142px;
  margin-top: 17px;
  margin-bottom: 133px;
}

.accordionPanel {
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #ddd;
}

.iconCarousel {
  margin-top: 19px;
  font-size: 36px !important;
  color: $colorTheme;
}

.panelOfTotal {
  background-color: #f5f5f5;
  margin-left: 12px;
  margin-right: 12px;
}

.labelInPanelOfTotal {
  font-size: 10px;
  color: $colorTheme;
  float: right !important;
  text-align: right;
  margin: 8px 0;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .app-panel form {
    padding: 11px;
    height: auto;
  }
  .btn-primary {
    width: 100%;
    margin: 4px 0;
  }
}

.app-panel .form-control {
    box-shadow: none;
    border: 1px solid #f5f5f5;
    height: 43px;
}

.panelInformations {
  margin: 15px;
}

.panelInformations .form-control {
  height: 43px !important;
  box-shadow: none;
  //background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.panelInformations label {
  font-size: 14px !important;
  color: black !important;
  margin-top: 8px !important;
  margin-left: 5px !important;
}

// table credit
.tableCredit {
  margin: 8px 8px 20px 8px;
  width: 100%;
}

.tableCredit th {
  display: none;
}

.tableCredit td {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 7px;
  padding-top: 7px;
}

.iconCrediStepFour {
  font-size: 22px !important;
  color: #b8c4d0;
}

a.iconCrediStepFour :hover {
  font-size: 22px !important;
  color: $colorTheme;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;
  cursor: pointer;
  background-color: $colorTheme;
  border: 1px $colorTheme solid;
  color: white !important;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 700;
  height: 31px;
  padding: 8px 10px 33px 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #ba3c08;
  border: 1px #b4461c solid;
}

.formGroup {
  margin-left: 54px;
  margin-right: 54px;
}

.iconCheveronUp {
  margin: 0px 7px 0px 0px;
  font-size: 14px !important;

}

.help-block {
  display: block;
  margin-top: 0px;
  margin-bottom: 2px;
  color: #717171;
  font-size: 12px;
}

.AddonLabel {
  font-size: 11px;
  font-weight: 600;
}

.rowBorder .row {
  border-bottom: 1px solid #f5f5f5;
}

.iconUpload {
  font-size: 28px !important;
}

.formUpload {
  height: 43px !important;
}

.panelSynteseStep3 {
  margin-left: 23.5%;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: $btnActive !important;
  border-color: $btnActive !important;
}

.silverPack {
  color: $silver;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
}

.goldPack {
  color: $gold;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
}

.premiumPack {
  color: $premium;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
}

.silverPackBG {
  background-color: $silver;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  height: 100px;
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

.goldPackBG {
  background-color: $gold;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  height: 100px;
  color: #fff;
  padding-top: 20px;
  text-align: center
}

.premiumPackBG {
  background-color: $premium;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  height: 100px;
  color: #fff;
  padding-top: 20px;
  text-align: center
}

.packetDetail {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .5px;
  padding: 9px 18px 8px;
  border-bottom: 1px solid $silver;
  text-align: left;
}

.silverBorder {
  border: 1px solid $silver;
  border-radius: 24px;
}

.goldBorder {
  border: 1px solid $gold;
  border-radius: 24px;
}

.premiumBorder {
  border: 1px solid $premium;
  border-radius: 24px;
}

.card {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 30%;
  max-width: 30%;
  margin: auto;
  text-align: center;
  display: inline-table;
  margin-left: 25px;
  //background-color : white;

  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0.5px;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
}

.coloredCard {
  background-color: #000;
}

.cardContainer {
  padding: 0 16px;
}

.cardCitle {
  color: grey;
  font-size: 18px;
}

.cardButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card > a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card > button:hover, .card > a:hover {
  opacity: 0.7;
}

.panel {
  margin-bottom: 10px;
}

.silverBG {
  background-color: $silver;
}

.goldBG {
  background-color: $gold;
}

.premiumBG {
  background-color: $premium;
}

.priceDetailPack {
  font-size: 14px;
  font-weight: bold;
}

.panel-group .panel {
  box-shadow: 0 1px 1px 0 rgba(115, 115, 115, 0.24);
  border: 1px solid #e8e8e8;
}

.alert-info {
  color: #a6a6a6;
  margin-top: 30px !important;
  background: #FFF;
  border-color: #dadada;
  font-size: 14px;
}

.adriaBtn {
  font-size: 18px;
  color: #FFF;
  background-color: #23c5d5;
  font-weight: bold;
}

.form-control {
  font-size: 14px;
}

.app-panel-center {
  margin: auto !important;
  margin-top: 30px !important;
  width: 550px;
}

.adria-margin-row {
  margin-top: 20px;
}

.silverPack{
    color: $silver;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 5px;
}

.goldPack{
    color: $gold;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 5px;
}

.premiumPack{
    color: $premium;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 5px;
}

.silverPackBG{
    background-color: $silver;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
	height: 40px;
	color: #fff;
	padding-top: 0px;
	text-align: center;
}

.goldPackBG{
    background-color: $gold;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
	height: 60px;
	color: #fff;
	padding-top: 9px;
	text-align: center
}

.premiumPackBG{
    background-color: $premium;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
	height: 100px;
	color: #fff;
	padding-top: 20px;
	text-align: center
}

.packetDetail{
font-size: 16px;
font-weight: normal;
letter-spacing: .5px;
padding: 9px 18px 8px;
border-bottom: 1px solid $silver;
text-align : left;
}

.silverBorder{
	border: 1px solid $silver;
	border-radius: 24px;
}

.goldBorder{
	border: 1px solid $gold;
	border-radius: 24px;
}

.premiumBorder{
	border: 1px solid $premium;
	border-radius: 24px;
}

.card {
    min-width: 30%;
    max-width: 30%;
    margin: auto;
    text-align: center;
    display: inline-table;
  	margin-left: 25px;
  	background-color: #ffffff;
	border-style: solid;
	border-width: 0.5px;
	border-color: #f5f5f5;
	border-image-slice: 1;
	margin-top: 45px;
}

.coloredCard{
	background-color: #000;
}

.cardContainer {
    padding: 0 16px;
}

.cardCitle {
    color: grey;
    font-size: 18px;
}

.cardButton {
     border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card > a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card > button:hover, .card > a:hover {
    opacity: 0.7;
}

.panel{
	margin-bottom : 10px;
}

.silverBG{
	background-color: $silver;
}

.goldBG{
	background-color: $gold;
}

.premiumBG{
	background-color: $premium;
}

.priceDetailPack{
	font-size: 14px;
	font-weight: bold;
}

.adriaBtn{
	font-size: 18px;
	color: #FFF;
	background-color: #23c5d5;
	font-weight: bold;
}

.form-control{
	font-size: 14px;
}

.app-panel-center{
	margin: auto !important;
	margin-top: 30px !important;
	width : 550px;
}

.adria-margin-row{
	margin-top: 20px;
}


.right-block-side-bar{
   padding-right: 0;
}

.right-block {
    background: $basicOrange;
    color: white;
    padding: 10px;
    text-align: left;
    //min-height: 488px;
    //margin-top : 105px;
    img{
      width: 100%;
      max-width: 430px;
      height: 300px;
      display: block;
      margin: 0 auto 13px;
      //content: url('images/adria-banner.png');
    }
   //margin-top: 255px;
    min-height: 415px;
}

.right-block h2{
    padding-bottom: 50px;
}

.right-block button {
    background: white;
    padding: 5px;
    border-radius: 0px;
    border: none;
    width: 100%;
}

.right-block h3 {
	font-size: 18px !important;
	margin-top: 4px !important;
	color: #FFF !important;
}
.pannelContent{
background-color : white;
}

.loading-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height:6px;
    background-color: #ca2f5d;
    z-index:9999;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
   border: 1px solid #ca2f5d;
       background-color: #ca2f5d;
       color: white;
       letter-spacing: 2px;
       text-align: center;
       font-size: 14px;
       padding-left: 30px;
       padding-right: 30px;
       font-weight: bold;
       cursor: pointer;
       border-radius: 4px;
       padding: 6px 12px;
           line-height: 1.42857;
}

.inputfile:focus + label,
.inputfile + label:hover {
   border: 1px solid #ca2f5d;
       background-color: #ca2f5d;
       color: white;
       letter-spacing: 2px;
       text-align: center;
       font-size: 14px;
       padding-left: 30px;
       padding-right: 30px;
       font-weight: bold;
       cursor: pointer;
       border-radius: 4px;
       padding: 6px 12px;
           line-height: 1.42857;
}

.agenceFields {
  margin-left: 10% !important;
}


.panelInformations {
  margin-top: 15px;
}

.panelInformations .panel-body{
  background-color: white;
}


.dcxGMi:before{

  z-index: 998;

}

.gyQnsE{

  z-index: 999;

}
.requiredInput:after { content:" *";
  color:red
}

.detailsBloc {
  padding: 25px 10px;
  border: 1px solid #ffceb1;
  background: rgba(234, 95, 29, 0.06);
  margin: 15px 8px;
}

.searchBloc {
  padding: 8px 10px;
  border: 1px solid #ffceb1;
  background: rgba(234, 95, 29, 0.06);
  margin: 15px 8px;
}

.detail-value {
  font-weight: 600;
  color: #717171;
}

.formContainer {
  background: #fff;
  padding: 20px 20px 50px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.tableContainer {
  background: #fff;
  padding: 20px 10px 35px;
  margin: 8px;
  border: 1px solid #e4e4e4;
}

//---- Loading modal style ----//

.loadingModal .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
  text-align: center;
  margin-top: 200px;
  color: #fff;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  animation: spinner .8s ease infinite;
}

.spinner span {
  margin-top: 120px;
  position: absolute;
  margin-left: -60px;
}


//------ Left menu bar ------/
.vMenu {
  background: $MenuBG;
  min-height:100%;
  position: fixed;
  width: 70px;
  margin-top: 56px;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.vMenu li a {
  color: #f5f5f5;
  text-decoration: none!important;
  &:hover {
    color: #b5b5b5;
  }
}

.collapsed {
  width: 210px;
}

.collapsed + .appContent {
  margin-left: 210px;
}

.collapsed .appLogo {
  margin-left: 150px!important;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  list-style: none;
}

legend {
  font-size: 18px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 8px;
  line-height: inherit;
  color: #7c7c7c;
  border-bottom: 1px solid #e5e5e5;
  &:before {
    content: " ";
    position: absolute;
    margin-top: 35px;
    width: 55px;
    border-bottom: 2px solid #23c5d5;
  }
}


.menuBtn {
  border-radius: 4px;
  background: #f5f5f5;
  color: #717171;
  float: right;
  i {
    margin: 0;
    padding: 0;
  }
}

//Application Logo Desktop Version
.appLogo {
  background: url('images/logo-SmartFlouss.png') no-repeat center center;
  background-size: 80px;
  width: 80px;
  height: 95px;
  margin: 0;
  position: absolute;
  top: -54px;
  margin-left: 10px;
  z-index: 9999;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition:all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}