/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #f65f20;
$humility: #777;
$white:#fff;
$gray:#666;
$grayHover:#292828;
$basicGrayBlue: #476585;

//Orange
$basicOrange:#f65f20;
$basicOrangeHover:#dd551c;
$basicOrangeActive:#c44c19;

//PETER RIVER (Blue)
$peterRiver: #1794b2;
$peterRiverHoverBtn: #A569BD;
$peterRiverFocusBtn: #7D3C98;

//WISTERIA
$wisteria: #BB8FCE;
$wisteriaHoverBtn: #2E86C1;
$wisteriaFocusBtn: #2874A6;

// positive & negative values
$greenmain:#27ab2d;
$redmain:#e64747;
$mainColorLight: #f5d5c7;


// Bootstrap Variables
$brand-primary: darken(#f65f20, 6.5%);
$brand-secondary: #b3b3b3;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #6dc0f9;


// Main application styles
$background-color-base: #f5f5f5;
$text-color: #717171;
$mainTextColor:#3e3e3e;


$silver : #c0c0c0;
$gold : #ffd700;
$premium : #90EE90;

$font-base: 'Open Sans', sans-serif;
$font-size: 14px;

//Variable Globale de l'application theme
$colorTheme: #23c5d5;
$btnHover: #23c5d5;
$btnActive: #23c5d5;

$MenuBG : #0b617f;

// Import Fonts
/*@import 'fonts/open-sans-fontface/open-sans.scss';*/
@import './fonts/simple-line-icons/scss/simple-line-icons.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('../../themes/00013/fonts/montserrat-v12-latin-regular.woff') format("woff"),
  url('../../themes/00013/fonts/montserrat-v12-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../themes/00013/fonts/montserrat-v12-latin-600.woff') format("woff"),
  url('../../themes/00013/fonts/montserrat-v12-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

// Police
$font-base: 'Montserrat', sans-serif;