/*
@import '../../themes/00000/variables.scss';
*/

.compteCard {
  label {
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
  }
}
.compteCard h3 {
  font-size: 16px;
  margin-top: 10px
}
.compteCard p {
  color: #6d6b6a;
}
.ButtonStyle{
  border: 0;
  outline: 0;
  background-color:#e0683b;
  color: white;
  margin-right: 16px;
}
.ButtonStyle2{
  border: 0;
  outline: 0;
  background-color:white;
  color: black;
  margin-right: 16px;
}
.ButtonStyle:hover{
  background-color:#e37951;
  color: white;
}
.ButtonStyle:focus, .ButtonStyle:active {
  border: 0;
  outline: 0;
  background-color:#b4461c;
  color: white;
}
.ButtonPasswordStyle{
  border: 0;
  outline: 0;
  background-color:#ffa900;
  color: white;
  line-height: 1.59;
  border-radius:0px;
}
.ButtonPasswordStyle:hover, .ButtonPasswordStyle:focus{

  background-color:#e7a100;

}
.PanelKey {
  border: none;
  width: 184px;
}
.formControle{
  border-radius:0px;
}
.modalContainer{
  position: relative;
}
.modalContainer .modal, .modalContainer .modal-backdrop {
  position: absolute;
}
.error {
  color :#4d0000;
}
.LabelColumnDEvise{
  width: 100px;
}
.banner {
  background: #f65f20;
  color: #fff;
  padding: 10px;
  text-align: left;
  min-height: 488px;
  img{
    width: 100%;
    display: block;
    max-width: 430px;
    margin: 0 auto 13px;
  }
}

.paddingColumn
{
  margin-top: 10px;
  margin-bottom: 15px;
}
.compteCard p{
  margin-top: 5px;
  margin-bottom: 20px;
}

.datePickerFormControl {
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #666;
  border: 1px solid #d5d5d5;
  border-radius: 1px !important;
}

.panelButton {
  margin-bottom: 10px;
}

.fieldRow {
  margin-bottom:10px;
}
.actionButtonStyle {
  width :30px;
  margin: 0 3px;
}

